<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    {% comment %} Шрифты {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'global/imgs/icons8-gaz-32.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'global/imgs/icons8-gaz-32.png' %}" type="image/x-icon"> <!-- Иконка -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script> {% endcomment %}
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'global/bootstrap/css/bootstrap.min.css' %}" >
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <!-- Bootstrap JS + Popper JS -->
    <script defer src="{% static 'global/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% comment %} <script src="https://unpkg.com/htmx.org@1.9.10" 
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script> {% endcomment %}
    
    {% comment %} Подключение шрифта onest {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'global/css/style.css' %}" />
    {% block specific_styles %} {% endblock %}
    <script src="{% static 'global/js/scripts.js' %}" defer></script>
    {% block specific_scripts %} {% endblock %}
</head>
<body>
    <header class='header'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}" id="logolink">
                    <img src="{% static 'global/imgs/gazprom_logo.jpg' %}" alt="Logo" id='logopng'>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Главная</a>
                        </li>

                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'quizzes:quizzes' %}">Тесты</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'knowledge_base:kb_home' %}">База знаний</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin">Админ панель</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:profile' %}">Профиль</a>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link nav-link">Выход</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        <!-- Уникальный контент каждой страницы будет здесь -->
        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <a href="{% url 'home' %}"><img src="{% static 'global/imgs/gazprom_logo.jpg' %}" alt="" class="footer-logo"></a>
        </div>
    </footer>
</body>
</html>